<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        
       <span style="color: rgb(170, 170, 170);">&copy;CampBuddy by Malaika Monteiro</span>
        <!-- <span color="white">&copy; CampBuddy created by Malaika Monteiro</span> -->
    </div>
</footer>